# Compiled source #
###################
*.jar
*.class
*.rs
*.log
*.orig
*.sh
*.w3x
*.w3m
*.settings
*.classpath
*.im
*.db

#bin folders
*/bin/*
*/dist/*
*/src-gen/*
*/logs/*
*/temp/*
*/WurstSetup/*
Wurstpack/wurstscript/lib/MapStuff/*
Wurstpack/wurstscript/lib/EBR/*

Wurstpack/war3map.j

de.peeeq.wurstscript/logs/*
de.peeeq.wurstscript/test-output/*
de.peeeq.wurstscript/junitTestResults/


WurstWeb/gwt-unitCache/*
WurstWeb/war/WEB-INF/classes/*
WurstWeb/war/WEB-INF/deploy/*
WurstWeb/war/wurstweb/*

*~
/WurstSetup/WurstSetup/nbproject/private/
/WurstSetup/WurstSetup/build/