# Compiled source #
###################
*.jar
*.class
*.rs
*.log
*.orig
*.sh
*.w3x
*.w3m
*.settings
*.classpath

#bin folders
*/bin/*
*/dist/*
*/src-gen/*
*/logs/*
*/temp/*
Wurstpack/wurstscript/lib/MapStuff/*
Wurstpack/wurstscript/lib/EBR/*

Wurstpack/war3map.j

de.peeeq.wurstscript/logs/*
de.peeeq.wurstscript/test-output/*
de.peeeq.wurstscript/junitTestResults/

*~
