<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.peeeq.de/Pscript" 
       class = "de.peeeq.pscript.PscriptPackage"
       genModel = "de/peeeq/Pscript.genmodel" /> 
	
  </extension>





</plugin>
