<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="wurstBuilder"
         name="Wurst Project Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true"
            callOnEmptyDelta="true">
         <run
               class="de.peeeq.eclipsewurstplugin.builder.WurstBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="wurstNature"
         name="wurstNature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="de.peeeq.eclipsewurstplugin.builder.WurstNature">
         </run>
      </runtime>
      <builder
      		callOnEmptyDelta="true"
            id="EclipseWurstPlugin.wurstBuilder">
      </builder>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            objectClass="org.eclipse.core.resources.IProject"
            nameFilter="*"
            id="EclipseWurstPlugin.contribution1">
         <!--<action
               label="Add/Remove Sample Nature"
               class="de.peeeq.eclipsewurstplugin.builder.ToggleNatureAction"
               menubarPath="additions"
               enablesFor="+"
               id="EclipseWurstPlugin.addRemoveNatureAction">
         </action>-->
      </objectContribution>
   </extension>
   <!-- error markers -->
   <extension
         id="wurstProblemGrammar"
         name="Wurst Grammar"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         id="wurstProblemTypes"
         name="Wurst Typechecking"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <!-- perspective -->
	 <extension 
        point="org.eclipse.ui.perspectives"> 
        <perspective 
            id="de.peeeq.eclipsewurstplugin.wurstperspective" 
            name="Wurst" 
            class="de.peeeq.eclipsewurstplugin.ui.WurstPerspective" 
            icon="resources/icons/WurstFile16.gif"> 
        </perspective> 
    </extension> 
    <!-- add launch buttons to perspective -->
    <extension point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension targetID="de.peeeq.eclipsewurstplugin.wurstperspective">
         <actionSet id="org.eclipse.debug.ui.launchActionSet">
         </actionSet>
      </perspectiveExtension>
   </extension>
   <!-- Wizards -->
	<extension
	      point = "org.eclipse.ui.newWizards">
		<category
		   id = "de.peeeq.eclipsewurstplugin.wizards"
		   name="Wurst">
		</category>
	 	<wizard
		   id = "de.peeeq.eclipsewurstplugin.wizards.newproject"
			name = "Wurst Project"
			project="true"
			finalPerspective="de.peeeq.eclipsewurstplugin.wurstperspective"
		   class="de.peeeq.eclipsewurstplugin.wizards.NewProjectWizard"
		   category="de.peeeq.eclipsewurstplugin.wizards"
		   icon="resources/icons/WurstFile16.gif">
	    	   <description>Create a new wurst project</description>
		   <selection class="org.eclipse.core.resources.IResource"/>
		</wizard>
		<wizard
		   id = "de.peeeq.eclipsewurstplugin.wizards.newpackage"
			name = "Wurst Package"
			project="false"
			finalPerspective="de.peeeq.eclipsewurstplugin.wurstperspective"
		   class="de.peeeq.eclipsewurstplugin.wizards.NewPackageWizard"
		   category="de.peeeq.eclipsewurstplugin.wizards"
		   icon="resources/icons/WurstFile16.gif">
	    	   <description>Create a new wurst package</description>
		   <selection class="org.eclipse.core.resources.IResource"/>
		</wizard>
	</extension>
	
    <!-- navigator content -->
    <extension
      point="org.eclipse.ui.navigator.navigatorContent">
       <commonWizard
             type="new"
             wizardId="de.peeeq.eclipsewurstplugin.wizards.newproject">
          <enablement>
             <or>
                <adapt type="org.eclipse.core.resources.IProject" />
                <adapt type="org.eclipse.core.resources.IWorkspaceRoot" /> 
             </or>
        	</enablement>
       </commonWizard>
        <commonWizard
             type="new"
             wizardId="de.peeeq.eclipsewurstplugin.wizards.newpackage">
          <enablement>
             <or>
                <adapt type="org.eclipse.core.resources.IProject" />
                <adapt type="org.eclipse.core.resources.IFolder" />
             </or>
        	</enablement>
       </commonWizard>
   </extension>
	<!-- editor -->
	   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="Wurst Editor"
            extensions="wurst,j,jurst"
            icon="resources/icons/WurstFile16.gif"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            class="de.peeeq.eclipsewurstplugin.editor.WurstEditor"
            id="de.peeeq.eclipsewurstplugin.editorWurstEditor">
      </editor>
   </extension>
   
   <!-- preference pages -->
   <extension
          point="org.eclipse.ui.preferencePages">
       <page
             class="de.peeeq.eclipsewurstplugin.preferences.WurstPreferencePage"
             id="de.peeeq.eclipsewurstplugin.preferences.WurstPreferencePage"
             name="Wurst">
       </page>
       <page
             category="de.peeeq.eclipsewurstplugin.preferences.WurstPreferencePage"
             class="de.peeeq.eclipsewurstplugin.preferences.WurstSyntaxColoring"
             id="de.peeeq.eclipsewurstplugin.preferences.WurstSyntaxColoring"
             name="Wurst Syntax Coloring">
       </page>
    </extension>
    
    <extension
          point="org.eclipse.ui.navigator.navigatorContent">
       <navigatorContent
             activeByDefault="true"
             contentProvider="de.peeeq.eclipsewurstplugin.editor.outline.ContentProvider"
             id="de.peeeq.eclipsewurstplugin.navigator.content"
             labelProvider="de.peeeq.eclipsewurstplugin.editor.outline.WurstLabelProvider"
             name="Wurst Package Explorer Content">
             <enablement>
	             <instanceof
	                   value="org.eclipse.core.resources.IProject">
	             </instanceof>
	          </enablement>
             </navigatorContent>
   </extension>
   
   <!-- editor hotkeys -->
   <extension point="org.eclipse.ui.commands">
       <command
             id="de.peeeq.eclipsewurstplugin.jumpdecl"
             name="Jump to declaration">
       </command>
       <command
             id="de.peeeq.eclipsewurstplugin.togglecomment"
             name="Toggle Comment">
       </command>
    </extension>
       <extension point="org.eclipse.ui.bindings">
       <key
             commandId="de.peeeq.eclipsewurstplugin.jumpdecl"
             contextId="de.peeeq.eclipsewurstplugin.wursteditorscope"
             schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
             sequence="F3">
       </key>
       <key sequence="Ctrl+7"
			commandId="de.peeeq.eclipsewurstplugin.togglecomment"
			schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
			contextId="de.peeeq.eclipsewurstplugin.wursteditorscope"/>
    </extension>
        <extension
          point="org.eclipse.ui.contexts">
       <context
             id="de.peeeq.eclipsewurstplugin.wursteditorscope"
             name="Wurst Editor Scope"
             parentId="org.eclipse.ui.textEditorScope">
       </context>
    </extension>
       <extension
          point="org.eclipse.ui.editorActions">
       <editorContribution
             id="de.peeeq.eclipsewurstplugin.editorContribution1"
             targetID="de.peeeq.eclipsewurstplugin.editorWurstEditor">
          <action
                class="de.peeeq.eclipsewurstplugin.editor.JumpToDeclaration"
                definitionId="de.peeeq.eclipsewurstplugin.jumpdecl"
                id="de.peeeq.eclipsewurstplugin.jumpToDeclaration"
                label="Jump to declaration"
                style="push">
          </action>
       </editorContribution>
       <editorContribution
             id="de.peeeq.eclipsewurstplugin.editorContribution2"
             targetID="de.peeeq.eclipsewurstplugin.editorWurstEditor">
          <action
                class="de.peeeq.eclipsewurstplugin.editor.ToggleComment"
                definitionId="de.peeeq.eclipsewurstplugin.togglecomment"
                id="de.peeeq.eclipsewurstplugin.toggleComment"
                label="Toggle Comment"
                style="push">
          </action>
       </editorContribution>
    </extension>
        <extension
          point="org.eclipse.ui.popupMenus">
   		<viewerContribution
             id="de.peeeq.eclipsewurstplugin.viewerContribution1"
             targetID="#TextEditorContext">
          <action
                class="de.peeeq.eclipsewurstplugin.editor.JumpToDeclaration"
                definitionId="de.peeeq.eclipsewurstplugin.jumpdecl"
                id="de.peeeq.eclipsewurstplugin.jumpToDeclaration"
                label="Jump to declaration"
                menubarPath="additions"
                style="push">
          </action>
         </viewerContribution>
     	<viewerContribution
             id="de.peeeq.eclipsewurstplugin.viewerContribution2"
             targetID="#TextEditorContext">
          <action
                class="de.peeeq.eclipsewurstplugin.editor.ToggleComment"
                definitionId="de.peeeq.eclipsewurstplugin.togglecomment"
                id="de.peeeq.eclipsewurstplugin.toggleComment"
                label="Toggle Comment"
                menubarPath="additions"
                style="push">
          </action>
       </viewerContribution>
    </extension>
    <!-- console -->
    <extension point="org.eclipse.ui.console.consoleFactories">
	  <consoleFactory 
	     label="Wurst Console"
	     class="de.peeeq.eclipsewurstplugin.console.ConsoleFactory"
	     icon="resources/icons/WurstFile16.gif">
	  </consoleFactory>
	</extension>
	<!-- run -->
	<extension point = "org.eclipse.debug.core.launchConfigurationTypes">
	   <launchConfigurationType
	   	   id="de.peeeq.eclipsewurstplugin.wustlauchconfig"
		   name="Lauch Wurst"
		   delegate="de.peeeq.eclipsewurstplugin.launch.LaunchDelegate"
		   modes= "run" >
		   <!--sourceLocatorId="org.eclipse.jdt.launching.sourceLocator.JavaSourceLookupDirector"
	       sourcePathComputerId="org.eclipse.jdt.launching.sourceLookup.javaSourcePathComputer">-->
	   </launchConfigurationType>
	</extension>
	<extension point="org.eclipse.debug.ui.launchConfigurationTypeImages">
    <launchConfigurationTypeImage
        icon="resources/icons/WurstFile16.gif"
        configTypeID="de.peeeq.eclipsewurstplugin.wustlauchconfig"
        id="de.peeeq.eclipsewurstplugin.wustlauchconfig.image">
    </launchConfigurationTypeImage>
	</extension>
    <extension point="org.eclipse.debug.ui.launchConfigurationTabGroups">
	    <launchConfigurationTabGroup
	        type="de.peeeq.eclipsewurstplugin.wustlauchconfig"
	        class="de.peeeq.eclipsewurstplugin.launch.TabGroup"
	        id="de.peeeq.eclipsewurstplugin.launch.TabGroup.tabgroup">
	    </launchConfigurationTabGroup>
	</extension>
	<extension point="org.eclipse.debug.ui.launchShortcuts">
	    <shortcut
	        id="de.peeeq.eclipsewurstplugin.launch.Shortcut"
	        class="de.peeeq.eclipsewurstplugin.launch.Shortcut"
	        label="Wurst"
	        icon="resources/icons/WurstFile16.gif"
	        modes="run">
	        <contextualLaunch>
	           <enablement>
	             <with variable="selection">
	               <count value="1"/>
	               <iterate>
	                 <or>
	                   <test property="org.eclipse.debug.ui.matchesPattern" value="*.wurst"/>
	                   <test property="org.eclipse.debug.ui.matchesPattern" value="*.w3x"/>
	                   <adapt type="org.eclipse.core.resources.IProject"/>
	                   <!--<instanceof value="org.eclipse.jdt.core.IJavaElement"/>-->
	                 </or>
	                 <!--<test property="org.eclipse.debug.ui.projectNature"
                           value="de.peeeq.eclipsewurstplugin.builder.WurstNature" />-->
	                 <!--<test property="org.eclipse.jdt.debug.ui.hasMainType"/>-->
	               </iterate>
	             </with>
	           </enablement>
	  		 </contextualLaunch>
	    </shortcut>
	</extension>
</plugin>
