<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
<meta charset="UTF-8" />
<title>Wurst: {{ page.title }}</title>
<link rel="shortcut icon" href="assets/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" type="text/css" media="all" href="./assets/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" media="all" href="./assets/bootstrap-responsive.min.css" />
<link rel="stylesheet" type="text/css" media="all" href="./assets/style2.css" />
</head>
<body>
<div class="bg bggradient">
<canvas id="displayCanvas" width="1200px" height="500px">
	Your browser does not support HTML5 canvas.
</canvas>
<a href="https://github.com/peq/WurstScript"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub" /></a>
<div class="navbar">
	<div class="navbar-inner">
		<a class="brand" href="index.html">Wurst</a>
		<ul class="nav">
			<li><a href="index.html">Home</a></li>
			<li><a href="manual.html">Manual</a></li>
			<li><a href="http://peeeq.de/hudson/job/Wurst/HotDoc_Standard_Library_Documentation/">StandardLib</a></li>
			<li><a href="https://github.com/peq/WurstScript/issues" target="_blank">Issue Tracker</a></li>
			<li><a href="changelog.html">Changelog</a></li>
		</ul>
	</div>
</div>

<div id="content" class="container">
	<h1 class="giant">{{ page.title }}</h1>
	{{ content }}
	</div>
</div>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script src="./assets/highlight.js"></script>
<script src="./assets/languages/code.js"></script>
<script src="./assets/languages/wurst.js"></script>
<script src="./assets/languages/vjass.js"></script>
<script src="./assets/nav.js"></script>
<script src="./assets/DitheredGradient/DitheredLinearGradientRGB.js"></script>
<script type="text/javascript" >
hljs.tabReplace = '    '; // 4 spaces
hljs.initHighlightingOnLoad();

$(function() {
	function lastPart(href) {
		return href.substr(href.lastIndexOf('/') + 1);
	}
	
	console.log("hello world");
	$(".nav a").each(function (i, e) {
		var l = $(e);
		if (lastPart(l.attr('href')) === lastPart(window.location.pathname)) {
			l.parent().addClass('active');
		}
	});
	
	setTimeout(function () {
		//draw dithered gradient:
		var displayCanvas = document.getElementById("displayCanvas");
		var displayContext = displayCanvas.getContext("2d");
		var displayWidth = displayCanvas.width;
		var displayHeight = displayCanvas.height;
		
			
		var dgrad = new DitheredLinearGradient(0,0,displayWidth,0);		
		dgrad.addColorStop(0,30,30,30);
		dgrad.addColorStop(0.4,200,200,200);
		dgrad.addColorStop(0.6,200,200,200);
		dgrad.addColorStop(1,30,30,30);
		dgrad.fillRect(displayContext,0,0,displayWidth,displayHeight);
		
		// hide original gradient
		$(".bggradient").removeClass('bggradient');
	}, 1.0);
	
});
</script>
</body>
